@import "tailwindcss";

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 表示サイズの指定 */
dialog[open]:modal {
  height: fit-content;
  max-height: 98vh;
  max-width: 85vw;
  overflow-x: hidden;
  overflow-y: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.btn {
  @apply py-1 px-2 text-sm;
}

.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn-regular {
  @apply bg-blue-500 text-white;
}

.btn-regular:active {
  @apply bg-blue-700;
}

.btn-red {
  @apply bg-red-500 text-white;
}

.btn-red:active, .btn-red:focus {
  @apply bg-red-700;
}

.btn-outline {
  @apply bg-white text-blue-700 border border-blue-500;
}

.btn-outline:active, .btn-outline:focus {
  @apply bg-blue-500 text-white border-transparent;
}

.btn-outline__red {
  @apply bg-white text-red-700 border border-red-500;
}

.btn-outline__red:active, .btn-outline__red:focus {
  @apply bg-red-500 text-white border-transparent;
}
